.destination-title {
  text-align: left;
  color: #fff;
  font-size: 3em;
  margin-left: 0.625rem;
  padding-top: 1.875rem;
}

.itinerary-cards {
  display: flex;
  justify-content: space-around; 
  padding: 6.25rem 3.125rem; 
  flex-wrap: wrap; 
}

.itinerary-card {
  background-color: rgba(255, 255, 255, 1);
  width: calc(25% - 1.25rem); 
  padding: 0.625rem;
  border-radius: 5px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  margin: 0.625rem; 
  position: relative; 
}

.itinerary-card h2 {
  color: #000000;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid #000000; 
  text-align: center;
  font-size: 1em;
}

.itinerary-card ul {
  list-style: none;
  font-size: 1em;
  text-align: center;
  padding: 0;
  margin-bottom: 1.25rem; 
}

.itinerary-card li {
  background-color: #fefaf5; 
  padding: 1.25rem;
  margin: 0.625rem 0; 
  border-radius: 5px;
}

/* Responsive styles for smaller screens */
@media (max-width: 48rem) {
  .itinerary-cards {
    flex-direction: column;
    padding: 1.25rem; 
  }

  .itinerary-card {
    width: 100%; 
    margin: 0.625rem auto; 
  }
}
